@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary border-bottom shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">MovieWala</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white fw-semibold" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fw-semibold" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fw-semibold" asp-controller="Movies" asp-action="Index">Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fw-semibold" asp-controller="Customers" asp-action="Index">Customers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

